[package]
name = "comms-rs"
version = "0.1.0"
authors = ["ostrosco <ostrosco@fastmail.fm>", "rfdoell", "garbagetrash"]
description = "Library for building high-performance DSP transmit and receive pipelines."
homepage = "https://github.com/ostrosco/comms-rs"
repository = "https://github.com/ostrosco/comms-rs"
readme = "README.md"
keywords = ["dsp", "rf"]
license = "MIT"

[dependencies]
assert_approx_eq = "1.0.0"
num = "0.2.0"
num-complex = "0.2.0"
crossbeam = "0.4"
crossbeam-channel = "0.2"
rand = "0.5"
rustfft = "2.1.0"
